body{
    background-color: #21212e;
    font-family: muli;
    color: white;
    padding: 0px;
    margin: 0px;
}
.topnav{
    height: 67px;
    width: 100%;
    background-color: #21212e;
}
.topnav ul {
    position: sticky;
    top: 0;
    display: flex;
    text-decoration: none;
    margin-left: 800px;
   
    
}
.topnav ul li{
    
    list-style: none;
    padding: 15px;
}
.topnav ul li a{
    color: white;
    font-size: 13px;
}
.topnav ul li a:hover{
    color:#d117d1;
}
.outlines li a{
    border-radius: 5px;
    border: 2px solid white;
    padding: 10px 25px;
}
body{
    background-color: #21212e;
    font-family: muli;
    color: white;
}
.main{
    width: 76%;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 23px;
    font-weight: bold;
    /* line-height: 100px; */
}
p {
    font-size: 10px;
    color: #66667E;
}
a {
    color: #66667E;
}
a:hover {
    color: #fff;  
}
.full-holder{
    height: 150px;
    width:100%;
    background-color: #262635;
}
.faq-cards{
    background-color: #20202C;
    height: 60px;
    width: 500px;
    box-shadow: 0px 0px 30px 4px  rgba(0, 0, 0, 0.308);
    margin-bottom: 15px;
    
}
.dropbtn {
    background-color: #39394D;
    color: #00EC98;
    height:60px;
    width: 60px;
    font-size: 40px;
    border: none;
    cursor: pointer;
    text-align:center;
    border-radius: 5px 0;
  }
  
  .dropdown {
    float: right;
    position: relative;
  }
  
  .dropdowns-content {
    display: none;
    position: absolute;
    background-color: #20202C;
    min-width: 500px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    border-radius: 0 5px;
    z-index: 4;
  }
  
  .dropdowns-content p {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .show {
    display: block;
}