body{
    background-color: #21212e;
    font-family: muli;
    color: white;
}
.topnav ul {
    position: sticky;
    top: 0;
    display: flex;
    text-decoration: none;
    margin-left: 800px;
   
    
}
.topnav ul li{
    
    list-style: none;
    padding: 15px;
}
.topnav ul li a{
    color: white;
    font-size: 13px;
}
.topnav ul li a:hover{
    color:#d117d1;
}
.outlines li a{
    border-radius: 5px;
    border: 2px solid white;
    padding: 10px 25px;
}
.main{
    width: 76%;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 23px;
    font-weight: bold;
    /* line-height: 100px; */
}
p {
    font-size: 10px;
    color: #66667E;
}
a {
    color: #66667E;
}
a:hover {
    color: #fff;
}
.full-holder{
    height: 150px;
    width:100%;
    background-color: #262635;
}